* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HEADER */

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

button {
    background: transparent;
    color: #c9a76a;
    border: 1px solid #c9a76a;
    padding: 10px 20px;
}

/* HERO */

.hero {
    height: 500px;
    background: url("img/descarga\ back.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 80px;
    color: white;
}

.overlay h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.overlay p {
    margin-bottom: 20px;
}

.btn {
    background: #c9a76a;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
}

/* CARDS */

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background: white;
}

.card {
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 30px;
    border-top: 1px solid #ddd;
}

/*tragos*/

/* TRAGOS */

.tragos-section {
    min-height: 100vh;
    background: url("./img/descarga.jpg") center/cover no-repeat;    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.tragos-box {
    width: 700px;
    background: rgba(15, 8, 5, 0.92);
    border: 2px solid #b8832f;
    border-radius: 30px;
    padding: 50px;
    color: #f5e7cf;
    font-family: 'Cormorant Garamond', serif;
}

.tragos-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.tragos-titulo h1 {
    font-size: 70px;
    color: #d9a24c;
    text-align: center;
}

.tragos-titulo p {
    text-align: center;
    font-size: 28px;
    color: #d9a24c;
}

.tragos-linea {
    width: 90px;
    height: 2px;
    background: #b8832f;
}

.tragos-item {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
    border-bottom: 1px solid #8b5c18;
}

.tragos-item h2 {
    font-size: 48px;
    font-weight: 400;
}

.tragos-icono {
    font-size: 42px;
}

.tragos-sin-borde {
    border-bottom: none;
}


@media (max-width: 768px) {
    .overlay {
        left: 40px;
    }

    .cards {
        flex-wrap: wrap;
        gap: 30px;
    }

    .card {
        width: 45%;
    }
    .tragos-box {
        width: 90%;
        padding: 35px;
    }

    .tragos-titulo h1 {
        font-size: 50px;
    }

    .tragos-item h2 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        gap: 15px;
        padding: 20px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .hero {
        height: 400px;
    }

    .overlay {
        left: 0;
        right: 0;
        text-align: center;
        padding: 0 20px;
        top: 30%;
    }

    .overlay h1 {
        font-size: 32px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
    }

    .card {
        width: 90%;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .tragos-box {
        padding: 25px;
    }

    .tragos-titulo {
        flex-direction: column;
        gap: 10px;
    }

    .tragos-linea {
        width: 50px;
    }

    .tragos-titulo h1 {
        font-size: 40px;
    }

    .tragos-titulo p {
        font-size: 22px;
    }

    .tragos-item {
        gap: 15px;
    }

    .tragos-item h2 {
        font-size: 28px;
    }

    .tragos-icono {
        font-size: 30px;
    }
}